{% extends "base.html" %}
{%block body%}
    <div class="container-fluid">
      <div class="banner">
        <img src="../images/sports.jpg" alt="">
      </div>

      <div class="latest-blog-container container-fluid">
        <h3 class="main-heading">{{category.category|capfirst}} Blogs</h3>
        <ul class="latest-blog-list">
          {% for blog in category.blogpost_set.all %}
          <li class="blog">
              <a href={%url "blog" pk=blog.id %}>
            <div class="image">
                <img src={{blog.img.url}} alt="blog image">
            </div>
            <div class="content">
              <h3 class="heading">{{blog.title}}</h3>
              <p class="text-content">{{blog.body|slice:"500"}}</p>
              <a href={%url "blog" pk=blog.id %} class="btn btn-default normal-cta">Read More...</a>
            </div>
          </li>
          {%endfor%}      
        </ul>
      </div>
    </div>
{%endblock%}