{% extends "base.html" %}
{%block title %}
<title>lorem sum dolor | Home </title>
{%endblock%}
{%block body%}
        <div class="row">
            <div class="col-md-12">
              <div id="main">
                 <h1 id="tagline">We help the world making ita better place</h1>
                 <p>One question that confuses most of the people at the time they begin their developer career is what the heck is an API. This article is short explaination .
                 </p>
                 <div id="joinus">VIEW ALL BLOG</div>
              </div>
            </div>
         </div>
         <h3 class="center">my favorite pick</h3>
     <div class="row">
      {% for blog in favs %}
            <div class="col-md-4">
              <a href={%url "blog" pk=blog.id %}>
                  <div class="box">
                    <img class="img-responsive" src={{blog.img.url}} >                    
                      <div class="texttag">
                 <h3 >{{blog.title}}</h3>
                 <p >{{blog.body|slice:"200"}}...</p>
            </div>
         </div>
       </a>
       </div>
       {%endfor%}
     </div>

   {%endblock%}