{% extends "base.html" %}
{%block title %}
<title>lorem sum dolor | Home </title>
{%endblock%}
{%block body%}
        <div class="row">
            <div class="col-md-12">
              <div id="main">
                 <h1 id="tagline">Lorem ipsum dolor sit amet, consectetur</h1>
                 <p> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
                 </p>
              </div>
            </div>
         </div>
         <h3 class="center">my favorite pick</h3>
     <div class="row">
      {% for blog in favs %}
            <div class="col-md-4">
              <a href={%url "blog" pk=blog.id %}>
                  <div class="box">
                    <img class="img-responsive" src={{blog.img.url}} >                    
                      <div class="texttag">
                 <h3 >{{blog.title}}</h3>
                 <p >{{blog.body|slice:"200"}}...</p>
            </div>
         </div>
       </a>
       </div>
       {%endfor%}
     </div>

   {%endblock%}